<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JYDownloadImagesAsync.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62EFE7261BE88C7000DCDC9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62EFE73F1BE88C7100DCDC9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62EFE74A1BE88C7100DCDC9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
